
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(51, 51, 51);
  padding: 0.5rem;
  color: white;
}

.titulo {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: grey;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  &:hover{
    color: red;
  }
}

.cart-icon {
  font-size: 1.5rem;
  cursor: pointer;
}


.parrafo{
  text-align: center;
  font-size: 4rem;
  text-decoration: underline;
  margin-bottom: 10px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;

  &:hover{
    transform: scale(1.1) rotate(5deg);
    color:orange;
  }
}


/* ESTILOS DE MI ITEMCOUNT */
.Contador {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Controles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.Boton {
  font-size: 20px;
  border: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.Boton:hover {
  background-color: #0056b3;
}

.Numero {
  font-size: 24px;
  margin: 0 20px;
}

.AgregarCarrito {
  font-size: px; 
  width: 160px; 
  height: 50px; 
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase; 
  letter-spacing: 1px; 
}

.AgregarCarrito:hover {
  background-color: #1e7e34;
}
