
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0.5rem;
  color: white;
}

.titulo {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  &:hover{
    color: red;
  }
}

.cart-icon {
  font-size: 1.5rem;
  cursor: pointer;
}
